@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;

.section {
  height: 90vh;
  height: 90svh;
}
.hero {
  padding-top: 150px;
}

.border {
  background-clip: padding-box;
}

@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
  body {
    @apply bg-[#fafafa] dark:bg-[#262626] dark:text-neutral-200;
  }
}
