@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;

.section {
  min-height: 90vh;
  min-height: 90svh;
}

.border {
  background-clip: padding-box;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid #007f9633;
}

.react-datepicker__triangle {
  display: none;
}

/* Remove arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 222 90% 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 250 20% 45%;

    --border: 219 30% 70%;

    --input-bg: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;

    --primary: 356 36% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 222.2 84% 4.9%;

    --accent: 0 0 0%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 74.2% 50.2%;
    --destructive-foreground: 210 40% 98%;

    --hover: 0 0% 50%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 216 16% 6%;
    --foreground: 210 40% 96%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 0 0% 15%;
    --card-foreground: 224 47% 85%;

    --border: 0 0% 25%;
    --input-bg: 0 0% 11%;

    --primary: 356 36% 45%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 3%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 100%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --hover: 0 0% 40%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
