@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;

.section {
  min-height: 90vh;
  min-height: 90svh;
}

.hero {
  padding-top: 150px;
}

.border {
  background-clip: padding-box;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid #007f9633;
}

.react-datepicker__triangle {
  display: none;
}

@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
  body {
    @apply bg-[#fafafa] text-blue-lagoon-800 dark:bg-[#0E1217] dark:text-neutral-200;
  }
}
