@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;

.section {
  min-height: 90vh;
  min-height: 90svh;
}

.border {
  background-clip: padding-box;
}

/* date picker */

.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
}

.react-datepicker__triangle {
  display: none;
}

/* react-time-picker */

.react-time-picker__wrapper {
  border: none;
}
.react-time-picker__inputGroup__input,
.react-time-picker__inputGroup__amPm {
  background-color: white;
  color: #004c5a;
}

.dark .react-time-picker__inputGroup__input,
.dark .react-time-picker__inputGroup__amPm {
  background-color: black;
  color: white;
}

/* material ui data grid */

/* root */
/* Fix bordercolor */
.MuiDataGrid-root
  .MuiDataGrid-root--densityStandard
  .MuiDataGrid-withBorderColor
  .css-1kicwkw-MuiDataGrid-root {
  border-color: red;
}
.css-1kicwkw-MuiDataGrid-root {
  border-color: red;
}
.MuiDataGrid-withBorderColor {
  border-color: red;
}

/* main */

.MuiDataGrid-main {
  background-color: white;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
}

.dark .MuiDataGrid-main {
  background-color: rgba(0, 0, 0, 0.4);
}

/* header */

.MuiDataGrid-columnHeaders {
  background-color: #005f71;
}

.MuiDataGrid-columnHeaders .MuiDataGrid-columnHeaderTitle {
  font-weight: 600;
  color: white;
}

.dark .MuiDataGrid-columnHeaders {
  background-color: rgba(0, 0, 0, 0.4);
}

/* row */

.MuiDataGrid-row {
  background-color: #fdfdfd;
}
.MuiDataGrid-row:nth-child(2n) {
  background-color: #fafafa;
}

.dark .MuiDataGrid-row:nth-child(2n) {
  background-color: #191919;
}

.dark .MuiDataGrid-row {
  background-color: #212121;
}

.dark .css-1kicwkw-MuiDataGrid-root .MuiDataGrid-row:hover,
.css-1kicwkw-MuiDataGrid-root .MuiDataGrid-row.Mui-hovered {
  background-color: rgb(0 62 74 / 0.4);
}

/* cell */

.MuiDataGrid-cell {
  color: #005f71;
  border: 0px;
}

.dark .MuiDataGrid-cell {
  color: #e6f2f5;
}

.MuiDataGrid-cell:hover {
  color: #007f96;
}

.dark .MuiDataGrid-cell:hover {
  color: white;
}

/* checkbox */

.MuiDataGrid-checkboxInput .MuiSvgIcon-root {
  color: #005f71;
}

.dark .MuiDataGrid-checkboxInput .MuiSvgIcon-root {
  color: #e6f2f5;
}

/* footer */

.MuiDataGrid-footerContainer {
  background-color: white;
  border-radius: 5px;
}

.dark .MuiDataGrid-footerContainer {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgb(0 62 74 / 0.4);
}

.dark .MuiTablePagination-root {
  color: #e6f2f5;
}

.dark .MuiSvgIcon-root {
  color: #e6f2f5;
}

@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
  }
  body {
    @apply bg-[#fafafa] text-blue-lagoon-800 dark:bg-[#0E1217] dark:text-neutral-200;
  }
}
